/* Section Styling */
.ourproducts-section {
    padding: 50px 0;
    overflow: hidden;
  }
  
  .ourproducts-title {
    font-size: 28px;
    font-weight: bold;
  }
  
  .ourproducts-title span {
    color: #198754; /* Bootstrap success green */
  }
  
  .ourproducts-underline {
    width: 80px;
    height: 3px;
    background-color: #198754;
    margin: 5px auto 20px auto;
  }
  
  /* Product Item Styling */
  .ourproducts-item {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ourproducts-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #198754;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
  }
  .ourproducts-circle:hover {
    /* box-shadow: 0px 0px 15px rgba(25, 135, 84, 0.7);  */
    transform: scale(1.05); 
    background: #9fd897; 
  }
  
  .ourproducts-circle img {
    width: 80%;
    height: auto;
  }
  
  .ourproducts-name {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .ourproducts-circle {
      width: 100px;
      height: 100px;
    }

  }
  @media (max-width: 468px) {
    .ourproducts-circle {
      width: 100px;
      height: 100px;
    }
  
    .ourproducts-title {
      font-size: 24px;
    }
  
    .ourproducts-name {
      font-size: 12px;
    }
  }
  