.product-label {
  font-weight: bold;
}

.product-input-field:focus {
  box-shadow: none !important;
  border: 2px solid #304d30 !important;
}

.add-grams-price {
  color: #304d30 !important;
  font-weight: 500;
}

.add-product-button {
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #304d30 !important;
  border: #304d30;
  margin-top: 42px;
}

.add-product-cancel {
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #ed1d1d !important;
  border: #ed1d1d;
  margin-top: 42px;
}

.product-table thead th {
  background-color: #304d30 !important;
  color: #ffffff !important;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
}

.product-table tbody tr:hover td {
  background-color: #dff5e5 !important;
  color: #304d30 !important;
  font-weight: 500;
}

.product-row {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.admin-product-edit {
  width: 80px;
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #304d30;
  color: #ffffff;
  border: none;
}

.admin-product-edit:hover {
  background-color: #276327 !important;
  box-shadow: none !important;
}

.admin-product-delete {
  width: 80px;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #ed1d1d !important;
  color: #ffffff;
  border: none;
  margin-left: 10px;
}

.admin-product-delete:hover {
  background-color: #c41414 !important;
  box-shadow: none !important;
}

/* Responsive Design */
@media (max-width: 768px) {
  .admin-product-delete {
    margin-left: 0px;
    margin-top: 10px;
  }
}