/* Full-Page Container */
.forget-container {
  height: 100vh;
  display: flex;
}

/* Left Side - Image Section */
.forget-image {
  background: url("../../assets/login-banner.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  height: 100%;
  color: white;
}

.forget-image h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.forget-image p {
  font-size: 1.2rem;
  max-width: 100%;
}

/* Right Side - Form Section */
.forget-form {
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: none;
}

.forget-logo {
  width: 150px;
  margin-bottom: 15px;
}

.forget-btn {
  width: 100% !important;
  color: #0ba350;
  background: #fff;
  border: 1px solid #0ba350;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.forget-btn:hover {
  background: #0a8a40 !important;
  border: 1px solid #0ba350;
}

/* Responsive Adjustments */

/* Tablets (768px and below) */
@media (max-width: 992px) {
  .forget-container {
    padding: 10px;
  }
  .forget-form {
    max-width: 350px;
  }
}

/* Mobile (576px and below) */
@media (max-width: 768px) {
  .forget-image {
    display: none;
  }
  .forget-container {
    justify-content: center;
  }
  .forget-form {
    max-width: 100%;
    padding: 20px;
  }
  .forget-btn {
    width: 100%;
  }
}
